.trafficLights {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.trafficLight {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 5px;
}

.light {
  height: 100px;
  width: 100px;
  border-radius: 50%;
}

.stop {
  background-color: red;
}

.slow {
  background-color: yellow;
}

.start {
  background-color: green;
}

.light:not(.on) {
  background-color: gray;
}
